*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.liberation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

@media screen and (max-width:600px) {
    .liberation{
        display: flex;
        align-items: center;
        justify-content:center;
        margin: 10px;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
        width: 100%
     
    }
    
    }

.img_2nd{
    width: 300px;
        box-shadow: 1px 2px 4px 3px aqua;
    border-radius: 10px;

}
p{
    text-transform: capitalize;
    color: teal;
    font-weight: bolder;
    margin: 20px auto;
    text-align: center;
}
.imgs{
    width: 450px;
    height: inherit;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 2px aqua;
    animation: banner 20s linear infinite;
}
@keyframes banner {
    from{
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transform: scale(-1);
        position: relative;
        left: 10%;
        bottom: 20%;
        transition: all 2s;
       }
    to{
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: scale(1);
        position: absolute;
        right: 30%;
        top: 30%;
        transition: all 20s;
    }
}
 h1 {
    text-align: center;
    font-size: 13px;
    background-color: green;
    background: linear-gradient(left to right, crimson, yellow,brown,aliceblue,aqua);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    --moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    border-right: 2px solid blue; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: 1px; 
    width: auto;
    animation: liberation 10s linear infinite,
    blink-caret .75s step-end infinite ;
  }
  @keyframes liberation {
    from{
        width: 0%;
    }
    to{
        max-width: 1000px;
        width: 530px;
        transition: all 2s;
    }
  }
  @keyframes blink-caret {
    from{
        border-color: blue;
    }
    to{
        border-color: orange;
    }
  }
  